@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #eee 25%, #d1d1d1 50%, #eee 75%);
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 10px;
}

.skeleton--circle {
  border-radius: 50%;
}

.skeleton--text {
  height: 1em;
  width: 100%;
  margin-bottom: 0.5rem;
}

.skeleton-explore__wrapper {
  width: 25%;
}

@media (max-width: 1156px) {
  .skeleton-explore__wrapper{
    width: 33%;
  }
}

@media (max-width: 992px) {
  .skeleton-explore__wrapper{
    width: 50%;
  }
}

@media (max-width: 576px) {
  .skeleton-explore__wrapper{
    width: 100%;
    max-width: 420px;
  }
}